<div id="home" class="container">
        <div class="row">
            <div class="col-xs-16 col-md-11">
                <section id="rank">
                    <article>
                        <figure class="big-thumb">
                          <%= link_to image_tag('img/bai1.png',:alt => 'Vinamilk đứng đầu bảng xếp hạng doanh nghiệp niêm yết uy tín thêm mấy chữ'),root_url,:title => 'Vinamilk đứng đầu bảng xếp hạng doanh nghiệp niêm yết uy tín thêm mấy chữ'%>
                        </figure>
                        <header>
                            <h1><a title="Vinamilk đứng đầu bảng xếp hạng doanh nghiệp niêm yết uy tín thêm mấy chữ" href="#">Vinamilk đứng đầu bảng xếp hạng doanh nghiệp niêm yết uy tín thêm mấy chữ</a></h1>
                        </header>
                        <div class="info">
                            <a href="#" class="cate">Góc nhìn</a>
                            <span style="margin: 0 15px; color: #fff">Người đăng <a href="#" class="author"> Doanh nhan</a></span>
                            <time style="color: #fff">21.02.2018</time>
                        </div>
                    </article>
                    <article>
                        <header>
                            <h3><a title="Phát triển thương hiệu… bất tử" href="#">Phát triển thương hiệu… bất tử</a></h3>
                        </header>
                        <div class="info">
                            <a href="#" class="cate">Góc nhìn</a>
                            <p style="color: #666">Người đăng <a href="#" class="author"> Doanh nhan</a></p>
                        </div>
                    </article>
                    <article>
                        <header>
                            <h3><a title="Cuộc cạnh tranh lớn nhất là cạnh tranh về nhân tài" href="#">Cuộc cạnh tranh lớn nhất là cạnh tranh về nhân tài</a></h3>
                        </header>
                        <div class="info">
                            <a href="#" class="cate">Góc nhìn</a>
                            <p style="color: #666">Người đăng <a href="#" class="author"> Doanh nhan</a></p>
                        </div>
                    </article>
                    <article>
                        <header>
                            <h3><a title="Phó giám đốc Khối dịch vụ chứng khoán SSI: kỳ vọng thị trường năm 2018 thăng hoa" href="#">Phó giám đốc Khối dịch vụ chứng khoán SSI: kỳ vọng thị trường năm 2018 thăng hoa</a></h3>
                        </header>
                        <div class="info">
                            <a href="#" class="cate">Góc nhìn</a>
                            <p style="color: #666">Người đăng <a href="#" class="author"> Doanh nhan</a></p>
                        </div>
                    </article>
                </section>
            </div>
            <div class="col-xs-16 col-md-5 line">
                <section id="sub_featured">
                    <header>
                        <h2 title="Tin tức mới nhất về...">Tin mới</h2>
                    </header>
                    <article>
                        <header>
                            <h3><a href="#">Tăng thuế: chuyên gia lo ngại về lạm phát và giảm sức cạnh tranh và thêm vài chữ cho đủ 3 dòng</a></h3>
                        </header>
                    </article>
                    <article>
                        <header>
                            <h3><a href="#">Sức mạnh của nghệ thuật kể chuyện thương hiệu</a></h3>
                        </header>
                    </article>
                    <article>
                        <header>
                            <h3><a href="#">Thorakao tìm lại thời vàng son</a></h3>
                        </header>
                    </article>
                    <article>
                        <header>
                            <h3><a href="#">29% các cuộc tấn công từ chối dịch vụ sử có sử dụng từ 5 loại hình tấn công trở lên</a></h3>
                        </header>
                    </article>
                    <article>
                        <header>
                            <h3><a href="#">Phó giám đốc Khối dịch vụ chứng khoán SSI: kỳ vọng thị trường năm 2018 thăng hoa</a></h3>
                        </header>
                    </article>
                    <article>
                        <header>
                            <h3><a href="#">“Sóng lớn” ngân hàng sẽ tiếp diễn trong năm 2018?</a></h3>
                        </header>
                    </article>
                    <article>
                        <header>
                            <h3><a href="#">Làm sao để hỏi đúng, hỏi “trúng” điều cần hỏi?</a></h3>
                        </header>
                    </article>
                </section>
            </div>
        </div>
        <div id="_2" class="row">
            <div class="col-xs-16 col-md-11">
                <section id="cs-post">
                    <article>
                        <figure><a title="" href="#"><img src="img/2_03.png" alt=""></a></figure>
                            <header class="right">
                                <h3><a href="#">Tăng thuế: chuyên gia lo ngại về lạm phát và giảm sức cạnh tranh và thêm vài chữ cho đủ 3 dòng</a></h3>
                                <h4>Chỉ chưa đến 10 năm, Bitcoin – một đồng tiền ảo được tạo ra trong vô vàn nghi hoặc về sự tồn tại của nó, đã từng bước thu hút mọi ánh nhìn từ dư luận,...</h4>
                                <div class="info">
                                    <a href="#" class="cate">Góc nhìn</a>
                                    <span style="margin: 0 15px; color: #666">Người đăng <a href="#" class="author"> Doanh nhan</a></span>
                                    <time>21.02.2018</time>
                                </div>
                            </header>
                    </article>
                    <article>
                        <figure><a title="" href="#"><img src="img/2_03.png" alt=""></a></figure>
                        <header class="right">
                            <h3><a href="#">Tăng thuế: chuyên gia lo ngại về lạm phát và giảm sức cạnh tranh và thêm vài chữ cho đủ 3 dòng</a></h3>
                            <h4>Chỉ chưa đến 10 năm, Bitcoin – một đồng tiền ảo được tạo ra trong vô vàn nghi hoặc về sự tồn tại của nó, đã từng bước thu hút mọi ánh nhìn từ dư luận,...</h4>
                            <div class="info">
                                <a href="#" class="cate">Góc nhìn</a>
                                <span style="margin: 0 15px; color: #666">Người đăng <a href="#" class="author"> Doanh nhan</a></span>
                                <time>21.02.2018</time>
                            </div>
                        </header>
                    </article>
                    <article>
                        <figure><a title="" href="#"><img src="img/2_03.png" alt=""></a></figure>
                        <header class="right">
                            <h3><a href="#">Bảo hiểm FWD Việt Nam tăng trưởng ấn tượng sau 1 năm hoạt động</a></h3>
                            <h4>Chỉ chưa đến 10 năm, Bitcoin – một đồng tiền ảo được tạo ra trong vô vàn nghi hoặc về sự tồn tại của nó, đã từng bước thu hút mọi ánh nhìn từ dư luận,...</h4>
                            <div class="info">
                                <a href="#" class="cate">Góc nhìn</a>
                                <span style="margin: 0 15px; color: #666">Người đăng <a href="#" class="author"> Doanh nhan</a></span>
                                <time>21.02.2018</time>
                            </div>
                        </header>
                    </article>
                </section>
            </div>
            <div class="col-xs-16 col-md-5 line">
                <section id="video">
                    <header>
                        <h2 title="Tin tức mới nhất về..."><a href="#">Video</a></h2>
                    </header>
                    <article class="thumb-nth-1">
                        <figure><a href="#"><img src="img/demo-video.png" alt=""></a></figure>
                        <header>
                            <h3><a href="#">Lãnh đạo là người ảnh hưởng, không phải người dọa dẫm</a></h3>
                            <div class="info">
                                <span style="color: #333">Người đăng<a style="margin-right: 30px" href="#" class="author"> Doanh nhan</a></span>
                                <time>21.02.2018</time>
                            </div>
                        </header>
                    </article>
                    <article class="v1">
                        <figure><a title="" href="#"><img src="img/demo-video.png" alt=""></a></figure>
                        <header class="right">
                            <h3><a href="#">Sức mạnh của nghệ thuật kể chuyện thương hiệu</a></h3>
                            <div class="info">
                                <span style="color: #666">Người đăng <a href="#" class="author"> Doanh nhan</a></span>
                                <time style="display: block;margin-top: 5px">21.02.2018</time>
                            </div>
                        </header>
                    </article>
                    <article class="v1">
                        <figure><a title="" href="#"><img src="img/demo-video.png" alt=""></a></figure>
                        <header class="right">
                            <h3><a href="#">Thorakao tìm lại thời vàng son</a></h3>
                            <div class="info">
                                <span style="color: #666">Người đăng <a href="#" class="author"> Doanh nhan</a></span>
                                <time style="display: block;margin-top: 5px">21.02.2018</time>
                            </div>
                        </header>
                    </article>
                </section>
            </div>
        </div>
        <div id="_3" class="row">
                <div class="break">
                    <div class="col-xs-12 col-md-4">
                        <section>
                            <header><h2><a href="#">Chuyện kinh doanh</a></h2></header>
                            <article>
                                <figure><a title="" href="#"><img src="img/demo-video.png" alt=""></a></figure>
                                <header>
                                    <h3><a href="#">Thorakao tìm lại thời vàng son</a></h3>
                                </header>
                            </article>
                            <div class="list_sub_featured">
                                <ul>
                                    <li><a href="#">Cuộc bành trướng của 2 gã khổng lồ</a></li>
                                    <li><a href="#">Chăm chút cho sản phẩm quan trọng nhất: doanh nghiệp</a></li>
                                    <li><a href="#">“Châu Á sẽ giúp tôi viết nên trang sử mới của Piaggio”</a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <section>
                            <header><h2><a href="#">Quản trị chiến lược</a></h2></header>
                            <article>
                                <figure><a title="" href="#"><img src="img/demo-video.png" alt=""></a></figure>
                                <header>
                                    <h3><a href="#">“Chợ” đồ cũ Fastsell tìm lối đi riêng</a></h3>
                                </header>
                            </article>
                            <div class="list_sub_featured">
                                <ul>
                                    <li><a href="#">Cách nhập cư vào Canada: cẩm nang cho người ghét Trump</a></li>
                                    <li><a href="#">Những điều cần tránh khi đi phỏng vấn (phần 2)</a></li>
                                    <li><a href="#">“Châu Á sẽ giúp tôi viết nên trang sử mới của Piaggio”</a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <section>
                            <header><h2><a href="#">Đối thoại</a></h2></header>
                            <article>
                                <figure><a title="" href="#"><img src="img/demo-video.png" alt=""></a></figure>
                                <header>
                                    <h3><a href="#">Tp.Hồ Chí Minh và những bước chạy đà cho thành phố thông minh</a></h3>
                                </header>
                            </article>
                            <div class="list_sub_featured">
                                <ul>
                                    <li><a href="#">Thị trường kem: tan chảy theo nhiệt cạnh tranh</a></li>
                                    <li><a href="#">Fintech không cạnh tranh mà là bạn tốt</a></li>
                                    <li><a href="#">“Châu Á sẽ giúp tôi viết nên trang sử mới của Piaggio”</a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <section>
                            <header><h2><a href="#">Đối thoại</a></h2></header>
                            <article>
                                <figure><a title="" href="#"><img src="img/demo-video.png" alt=""></a></figure>
                                <header>
                                    <h3><a href="#">Tp.Hồ Chí Minh và những bước chạy đà cho thành phố thông minh</a></h3>
                                </header>
                            </article>
                            <div class="list_sub_featured">
                                <ul>
                                    <li><a href="#">Thị trường kem: tan chảy theo nhiệt cạnh tranh</a></li>
                                    <li><a href="#">Fintech không cạnh tranh mà là bạn tốt</a></li>
                                    <li><a href="#">“Châu Á sẽ giúp tôi viết nên trang sử mới của Piaggio”</a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <section>
                            <header><h2><a href="#">Chuyện kinh doanh</a></h2></header>
                            <article>
                                <figure><a title="" href="#"><img src="img/demo-video.png" alt=""></a></figure>
                                <header>
                                    <h3><a href="#">Thorakao tìm lại thời vàng son</a></h3>
                                </header>
                            </article>
                            <div class="list_sub_featured">
                                <ul>
                                    <li><a href="#">Cuộc bành trướng của 2 gã khổng lồ</a></li>
                                    <li><a href="#">Chăm chút cho sản phẩm quan trọng nhất: doanh nghiệp</a></li>
                                    <li><a href="#">“Châu Á sẽ giúp tôi viết nên trang sử mới của Piaggio”</a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <section>
                            <header><h2><a href="#">Quản trị chiến lược</a></h2></header>
                            <article>
                                <figure><a title="" href="#"><img src="img/demo-video.png" alt=""></a></figure>
                                <header>
                                    <h3><a href="#">“Chợ” đồ cũ Fastsell tìm lối đi riêng</a></h3>
                                </header>
                            </article>
                            <div class="list_sub_featured">
                                <ul>
                                    <li><a href="#">Cách nhập cư vào Canada: cẩm nang cho người ghét Trump</a></li>
                                    <li><a href="#">Những điều cần tránh khi đi phỏng vấn (phần 2)</a></li>
                                    <li><a href="#">“Châu Á sẽ giúp tôi viết nên trang sử mới của Piaggio”</a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <section>
                            <header><h2><a href="#">Đối thoại</a></h2></header>
                            <article>
                                <figure><a title="" href="#"><img src="img/demo-video.png" alt=""></a></figure>
                                <header>
                                    <h3><a href="#">Tp.Hồ Chí Minh và những bước chạy đà cho thành phố thông minh</a></h3>
                                </header>
                            </article>
                            <div class="list_sub_featured">
                                <ul>
                                    <li><a href="#">Thị trường kem: tan chảy theo nhiệt cạnh tranh</a></li>
                                    <li><a href="#">Fintech không cạnh tranh mà là bạn tốt</a></li>
                                    <li><a href="#">“Châu Á sẽ giúp tôi viết nên trang sử mới của Piaggio”</a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>